#a1{

width:400px;
margin-left:auto;
margin-right:auto;

}

#a2{

width:400px;
margin-left:auto;
margin-right:auto;

}

#startlbl{

 display: block;
 text-align: center;
}

#endlbl{

 display: block;
text-align: center;

}

#maintitle{

/* font-family:'Exo', sans-serif; */
text-align:center;

}

#uteklogo{
	
	display:block;
	margin-right:auto;
	margin-left:auto;
	border: 5px solid;
    border-radius: 10px;
	width:200px;
	margin-top:30px;
	margin-bottom:20px;
	padding:0px;

}

#btn{
	display:block;
	margin-right:auto;
	margin-left:auto;
}

#res{
	display:block;
	text-align:center;
	margin-top:10px;
	margin-bottom:40px;
}

#loading{
	margin-top:15px;
	display:block;
	margin-right:auto;
	margin-left:auto;
}

